// ============================================================================
// =Archie - Centroid
// ============================================================================

@import "aleksi/general/css-rule";
@import "archie/utils/display/ws";
@import "archie/utils/display/inline";
@import "archie/utils/text/align";
@import "archie/share";

// =centroid([ $text-align, $important ])
// -----------------------------------------------------------------------------

@mixin centroid( $text-align: center, $important: false )
{
  @include -ws-remove($important);
  @include -align(center, $important);

  &:before,
  > * {
    @include -ws-reset($important);
    @include -inline($important);
    vertical-align: middle;

    @if $text-align != center {
      @include -align($text-align, $important);
    }
  }

  &:before {
    content: " ";
    height: css-value(100%, $important);
  }
}

// =-centroid([ $text-align, $important ])
// -----------------------------------------------------------------------------
/// @see centroid

@mixin -centroid( $text-align: center, $important: false )
{
  @include archie-share('centroid', $text-align, $important) {
    @include centroid($text-align, $important);
  }
}