// ============================================================================
// =Archie - Grid
// ============================================================================

@import "aleksi/lengths/convert";
@import "archie/utils/display/ws";

// =grid( $gutter )
// -----------------------------------------------------------------------------

@mixin grid( $gutter )
{
  @include ws-remove();
  margin-left: -0.5 * to-rem($gutter);
  margin-right: -0.5 * to-rem($gutter);
}

// =grid-cell( $gutter )
// -----------------------------------------------------------------------------

@mixin grid-cell( $gutter )
{
  @include ws-reset();
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 0.5 * to-rem($gutter);
  padding-right: 0.5 * to-rem($gutter);
}