// ============================================================================
// =Archie - Settings
// ============================================================================

$base-font-family: sans-serif !default;
$body-background: #fff !default;
$base-background: $body-background !default;

$archie-component-breakpoints: '*' !default;